.m-chart {
    position: relative;
    &Con {
        height: 380px;
        position: relative;
        &Inner {
            height: 100%;
        }
    }
    Con1{
        height: 580px;
        position: relative;
        &Inner {
            height: 100%;
        }
    }
    &Empty, &Loading {
        top: 50%;
        left: 50%;
        color:#e1e1e1;
        text-align:center;
        white-space:nowrap;
        position: absolute;
        transform: translate(-50%,-50%);
        // width: 68rem/24;
        // height: 70rem/24;
        background-size: contain;
    }
    &Loading {
        font-size: 16px;
        color: rgb(64, 158, 255);
    }
}

