.search-view{
    position: relative;
    .search-item{
        display: flex;
        align-items: flex-start;
        margin-bottom: 25px;
        padding-right: 70px;
        .search-item-title{
            flex-shrink: 0;
            width: 96px;
            text-align: left;
            color: #000;
            font-weight: bold;
            font-size: 16px;
        }
        .search-item-tag{
            display: flex;
            flex-wrap: wrap;
            &>div{
                margin-left: 10px;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }
        .custom-input{
            display: flex;
            align-items: center;
            .el-input{
                margin: 0 10px;
            }
        }
    }
    .hover-tip {
      position: absolute;
      right: 24px;
      top: 24px;
      height: 28px;
      line-height: 28px;
    }
    .el-input {
        width: 200px;
        margin-right: 10px;
    }
}

.tag{
    margin-right: 10px;
}